.navbar{

	border-radius: 0px !important;
}

.navbar{

	margin-bottom: 0 !important;
	background-color: #6666ff !important;	
	padding-top: 5px;
	padding-bottom: 5px;
	border: none !important;
	
}

.nav.navbar-nav.navbar-left li a {
    
    color: #ffffff !important;
}

.customDiv{

	background-color: #f5f5f5;
	font-size: 20px;
}

img {
	display: block;
	margin: auto;
}