.navbar{

	border-radius: 0px !important;
}


.navbar{

	margin-bottom: 0 !important;
	background-color: #ff0000 !important;	
	padding-top: 7px !important;
	padding-bottom: 10px !important;
	border: none !important;
	
}

.nav.navbar-nav.navbar-right li a {
    
    color: #ffffff !important;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {

    background-color: #000000;
    margin-top: -5px;
    margin-bottom: -5px;
    text-decoration: unset;
}

.parallax {
    /* The image used */
    background-image: url("wire.png");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header{
  position: absolute;
  z-index: 1000;
  top: 200px;
  left: 200px;
}

a:hover{

	text-decoration: none;
}


.customDiv{

	min-height: 400px;
	min-width: 100px;
	background-color: #f0f5f5;
	padding: 10px;
}

@media screen and (min-width: 380px X 761px) {
.customDiv{

	min-height: 400px;
	min-width: 100px;
	background-color: #f0f5f5;
	padding: 10px;
}
}

.customDiv1{

	min-height: 400px;
	min-width: 100px;
	background-color: #f0f5f5;
	padding: 10px;
}

.customDiv2{

	min-height: 450px;
	min-width: 100px;
	background-color: #f0f5f5; 
	padding: 10px;
}

.customDiv3{

	background-color: #f0f5f5;
	padding: 20px; 
}

.customDiv5{

    padding: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,51,204,0.2);
    transition: 0.3s;
    width: 85%;
    float: left;
    margin: 30px;
    margin-top: auto;
    border-radius: 0px 0px 0px 0px!important;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,51,204,0.2);
    width: 90%;
    transition: 0.3s;
}

.container{
    padding: 2px 16px;
}

img{

    border-radius: 5px 5px 0px 0px;
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0,51,204,0.2);
    transition: 0.3s;
    width: 85%;
    margin: 30px;
    margin-right: auto;
    margin-top: auto;
    float: left;
}

.card2:hover {
    box-shadow: 0 8px 16px 0 rgba(0,51,204,0.2);
    width: 90%;
    transition: 0.3s;
}

.container2{
    padding: 2px 16px;
}

img{

    border-radius: 5px 5px 0px 0px;
}


.card3 {
    box-shadow: 0 4px 8px 0 rgba(0,51,204,0.2);
    transition: 0.3s;
    width: 85%;
    float: left;
    margin: 30px;
    margin-top: auto;
    border-radius: 50px 50px 0px 0px !important;
}

.card3:hover {
    box-shadow: 0 8px 16px 0 rgba(0,51,204,0.2);
    width: 90%;
    transition: 0.3s;
}

.container3{
    padding: 2px 16px;
}

img{

    border-radius: 5px 5px 0px 0px;
}


.card4 {
    box-shadow: 0 4px 8px 0 rgba(0,51,204,0.2);
    transition: 0.3s;
    width: 85%;
    margin: 30px;
    margin-right: auto;
    margin-top: auto;
    float: left;
}

.card4:hover {
    box-shadow: 0 8px 16px 0 rgba(0,51,204,0.2);
    width: 90%;
    transition: 0.3s;
}

.container4{
    padding: 2px 16px;
}

img{

    border-radius: 5px 5px 0px 0px;
}

.card5 {
    box-shadow: 0 4px 8px 0 rgba(0,51,204,0.2);
    transition: 0.3s;
    width: 85%;
    float: left;
    margin: 30px;
    margin-top: auto;
    border-radius: 50px 50px 0px 0px !important;
}

.card5:hover {
    box-shadow: 0 8px 16px 0 rgba(0,51,204,0.2);
    width: 90%;
    transition: 0.3s;
}

.container5{
    padding: 2px 16px;
}

img{

    border-radius: 5px 5px 0px 0px;
}

.card6 {
    box-shadow: 0 4px 8px 0 rgba(0,51,204,0.2);
    transition: 0.3s;
    width: 85%;
    float: left;
    margin: 30px;
    margin-top: auto;
    border-radius: 50px 50px 0px 0px !important;
}

.card6:hover {
    box-shadow: 0 8px 16px 0 rgba(0,51,204,0.2);
    width: 90%;
    transition: 0.3s;
}

.container6{
    padding: 2px 16px;
}

img{

    border-radius: 5px 5px 0px 0px;
}

